:root{
  font-family: monospace;
  background-color:rgb(0, 186, 75);
  text-align: center;
--hill-color:#5C4033;
}

.title-font{
font-size: 70px;
color: rgb(0, 0, 0);
font-family: 'Shadows Into Light';
margin-left: -120px ;
height: 100px;
margin-top: -15px;
position: fixed;left:50%;top:0px;
font-weight: bold;
}

#day-night-radio{
  color: rgb(0, 0, 0);
  height: 15px;
  margin-left: -80px;
  position: fixed;left:50%;top:75px;
}

label{
  font-size: 18px;
}

#sky-background{
  height:300px;
  background-color: #87CEEB;
  margin-top:0px;
  margin-left:-10%;
  width:120%;
  position: fixed;top:0px;
}

#sun{
  height:70px;
  width:70px;
  margin-left:15%;
  margin-top:0px;
  margin-bottom: 0px;
  background-color: yellow;
  border-width: 1px;
  border-radius: 50%;
  border-style: solid;
  border-color: yellow;
  position: fixed;top:50px;
}

#house-mainwall{
  height:75px;
  width:200px;
  background-color:brown;
  margin-left:-75px;
  position: fixed;top:275px;left:50%;
 
}

#house-sidewall{
  height:75px;
  width:50px;
  background-color:rgb(194, 75, 75);
  margin-left:-100px;
  position: fixed;top:275px;left:50%;
 
}

#roof-frontwall{
  height:35px;
  width:175px;
  background-color:brown;
  margin-left:-75px;
  position: fixed;top:240px;left:50%;
}

#roof-sidewall{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 35px 50px;
  border-color: transparent transparent rgb(194, 75, 75) transparent;
  margin-left:-125px;
  position: fixed;top:240px;left:50%;
}

#roof-endwall{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 35px 50px;
  border-color: transparent transparent brown transparent;
  margin-left:50px;
  position: fixed;top:240px;left:50%;
}

#ground{
  height:250px;
  background-color:rgb(0, 186, 75);
  margin-top:0;
  margin-left:-10%;
  margin-bottom:0px ;
  width:120%;
  position: fixed;top:300px;
}

.hill{
  height:250px;
  width:250px;
  background-color:var(--hill-color);
  margin-left:0px;
  position: fixed;top:175px;left:50%;
  transform: rotate(45deg);
  border-width: 15px;
  border-radius: 25px;
  border-color: var(--hill-color);
  border-style: solid;
}


#welcome-ribbon{
  color:blue;
  position:fixed;
  width: 100%;
  top:350px;
}

h1{  
  color:blue;
  padding:5px;
}

.main-body{
  width: 100%;
  position: relative;
}

.main-posts{
  color:blue;
  padding:5px;
  border-width: 3px;
  border-radius: 10px;
  border-color: lightgreen;
  border-style: solid;
  margin-bottom: 5px;
  background-color: lightgreen;
}

@media (max-width: 767px) {

  h1{
    font-size:15px;
    margin-top:20px;
  }
  .tree{
    visibility: hidden;
    position:absolute;
  }
}

@media (min-width:768px) and  (max-width:1199px){

  h1{
    font-size:20px;
  }

  .main-posts{
    margin: 10px;
    display: inline-block;
  }

  .tree{
    visibility: hidden;
    position:relative;
  }
}

@media (min-width:1200px) {

  h1{
    font-size:20px;
  }

  .main-posts{
    margin: 10px;
    display: inline-block;
    height:200px;
    width:200px;
    position:relative;
  }

}

.exit-link{
  padding:5px;
  border-width: 3px;
  border-radius: 10px;
  border-color: lightgreen;
  border-style: solid;
  margin-bottom: 5px;
  background-color: lightgreen;
}

.tree{
  position: absolute;
  margin: auto;
  display: block;
  width: 100px;
  height: 100px;
  top:20px;
}

.tree-trunk{
  height: 50%;
  width:15%;
  background-color: rgb(81, 24, 24);
  position: absolute;
  top:50%;
  left:42.5%;
}

.tree-leaves{
  height: 0px;
  width: 0px;
  border-width: 0 20px 40px 20px;
  border-radius: 15px;
  border-color:transparent transparent brown transparent;
  border-style: solid;
  position: absolute;
  left:29.5px;
}